<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VAT4SME Information - Sectoral Threshold viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VAT4SME Information - Sectoral Threshold viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3263895dfcce49a3b1bc170213a1e6a3.png" alt="VAT4SME Information - Sectoral Threshold viewpoint" usemap="#id-3263895dfcce49a3b1bc170213a1e6a3map"/>
			   <map name="id-3263895dfcce49a3b1bc170213a1e6a3map">
				  				<area shape="rect" coords="286,202,467,263" href="../elements/id-82955d02a71b4357aae85bd62a59798a.html"  target="element">
				  				<area shape="rect" coords="298,334,455,395" href="../elements/id-0d370669aec2491b90599e2343601a2c.html"  target="element">
				  				<area shape="rect" coords="226,46,575,167" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">

				          <area shape="rect" coords="10,10,791,431" href="../objects/id-012052ef24bc4c6f92895eaef9b03265.html" target="element" >
				  				<area shape="rect" coords="214,562,359,617" href="../elements/id-60089d5ff40c4fd3be3753647d6aa591.html"  target="element">
				  				<area shape="rect" coords="46,562,191,617" href="../elements/id-c1940a983dc14d5e95e5157d38b76f7a.html"  target="element">
				  				<area shape="rect" coords="58,778,334,833" href="../elements/id-7abb76c3d5244d00a9a1f37f1c9d4c3e.html"  target="element">

				  		<area shape="rect" coords="10,442,1007,971" href="../elements/id-884346d428b54d5691d91a0705f5cc16.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7abb76c3d5244d00a9a1f37f1c9d4c3e.html" target="element"> Sectoral Threshold </a> </td>
													    <td> <a href="../elements/id-7abb76c3d5244d00a9a1f37f1c9d4c3e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1940a983dc14d5e95e5157d38b76f7a.html" target="element"> Sector Name </a> </td>
													    <td> <a href="../elements/id-c1940a983dc14d5e95e5157d38b76f7a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-60089d5ff40c4fd3be3753647d6aa591.html" target="element"> Sectoral Threshold </a> </td>
													    <td> <a href="../elements/id-60089d5ff40c4fd3be3753647d6aa591.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-012052ef24bc4c6f92895eaef9b03265.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-012052ef24bc4c6f92895eaef9b03265.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c83ef442f43d4e14aabd97d82923ccbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c83ef442f43d4e14aabd97d82923ccbb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-7abb76c3d5244d00a9a1f37f1c9d4c3e.html" target="element"> Sectoral Threshold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5f6c4f5e26e4c3f9455cb076eadff49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5f6c4f5e26e4c3f9455cb076eadff49.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-c1940a983dc14d5e95e5157d38b76f7a.html" target="element"> Sector Name </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8f2539d0e2648e38222ab89809d65b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8f2539d0e2648e38222ab89809d65b1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-60089d5ff40c4fd3be3753647d6aa591.html" target="element"> Sectoral Threshold </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ee35240414ff4521b67bf77b79582ba6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee35240414ff4521b67bf77b79582ba6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7abb76c3d5244d00a9a1f37f1c9d4c3e.html" target="element"> Sectoral Threshold </a> </td>
																				<td> <a href="../elements/id-c1940a983dc14d5e95e5157d38b76f7a.html" target="element"> Sector Name </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4d4d87dbb0e8467aa1551e8f465a3107.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d4d87dbb0e8467aa1551e8f465a3107.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7abb76c3d5244d00a9a1f37f1c9d4c3e.html" target="element"> Sectoral Threshold </a> </td>
																				<td> <a href="../elements/id-60089d5ff40c4fd3be3753647d6aa591.html" target="element"> Sectoral Threshold </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d3aad9970ed0483ab78abfc6907720e5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3aad9970ed0483ab78abfc6907720e5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c1940a983dc14d5e95e5157d38b76f7a.html" target="element"> Sector Name </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ffaee1ed9c764d139c258242a9092b80.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ffaee1ed9c764d139c258242a9092b80.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-60089d5ff40c4fd3be3753647d6aa591.html" target="element"> Sectoral Threshold </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1a65edb423e74602b90c7525dbafa71a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a65edb423e74602b90c7525dbafa71a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>