<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Automated Access to MSEST Information viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Automated Access to MSEST Information viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5ba15b71aacc4d0d924d05e5135c25f9.png" alt="Automated Access to MSEST Information viewpoint" usemap="#id-5ba15b71aacc4d0d924d05e5135c25f9map"/>
			   <map name="id-5ba15b71aacc4d0d924d05e5135c25f9map">
				  				<area shape="rect" coords="142,678,351,766" href="../elements/id-f3a038cff020457eaf669a766e042547.html"  target="element">
				  				<area shape="rect" coords="418,678,598,766" href="../elements/id-2749458d729f4d68afe3764bbea8c609.html"  target="element">
				  				<area shape="rect" coords="658,678,838,766" href="../elements/id-99442c2774a5423ba3a92d2839a49203.html"  target="element">

				          <area shape="rect" coords="10,594,1498,862" href="../objects/id-96f3d13e5da146b8944e5ec28c1914d3.html" target="element" >
				  				<area shape="rect" coords="1220,379,1420,467" href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html"  target="element">
				  				<area shape="rect" coords="1004,379,1204,467" href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html"  target="element">
				  				<area shape="rect" coords="1076,58,1336,250" href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html"  target="element">
				  				<area shape="rect" coords="760,379,960,467" href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html"  target="element">
				  				<area shape="rect" coords="544,379,744,467" href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html"  target="element">
				  				<area shape="rect" coords="332,379,532,467" href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html"  target="element">
				  				<area shape="rect" coords="514,58,774,250" href="../elements/id-a779dbe0517940dd82012b6111312a2f.html"  target="element">
				  				<area shape="rect" coords="89,379,269,467" href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html"  target="element">
				  				<area shape="rect" coords="49,58,309,250" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">

				          <area shape="rect" coords="10,10,1498,538" href="../objects/id-06525150c46e4faea4fe71b05bf208ce.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The Legal view models the most salient public policy development enablers and implementation instruments that shall be considered in order to support legal interoperability.

Narrative: A [Public Policy] is the outcome of a specific [Public Policy Cycle] that aims at addressing the needs of a group of stakeholders. The policy is formulated and implemented with the help of [Public Policy Formulation and Implementation Instruments] such as [Legal Requirements or Constraints] in the form of either [Binding Instruments] or [Non-Binding Instruments], or [Operational Enablers], such as [Financial Resources] or [Implementing Guidelines]. The [Operational Enablers] are influenced by [Public Policy Implementation Mandates] and/or [Public Policy Implementation Approaches]. The [Public Policy Formulation and Implementation Instruments] are included in a [Legislation Catalogue].

These different Architecture Building Blocks define the [Legal content] and each of these Architecture Building Blocks can have any [Interoperability Specification] associated, of which the [Legal Interoperability Specification] is a specialisation.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>dct:title</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Legal view</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-06525150c46e4faea4fe71b05bf208ce.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-06525150c46e4faea4fe71b05bf208ce.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21(2b) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 3 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(2) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
													    <td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 17g(1) - Council Regulation (EU) No 904/2010 </a> </td>
													    <td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21b(2) - Council Regulation (EU) No 904/2010 </a> </td>
													    <td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-96f3d13e5da146b8944e5ec28c1914d3.html" target="element"> Digital Public Services </a> </td>
									           <td> <a href="../objects/id-96f3d13e5da146b8944e5ec28c1914d3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
													    <td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2749458d729f4d68afe3764bbea8c609.html" target="element"> VAT4SME Common Function </a> </td>
													    <td> <a href="../elements/id-2749458d729f4d68afe3764bbea8c609.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f3a038cff020457eaf669a766e042547.html" target="element"> VAT4SME Digital Public Service </a> </td>
													    <td> <a href="../elements/id-f3a038cff020457eaf669a766e042547.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-7715604be08a4918b570cb0d88a3aa1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7715604be08a4918b570cb0d88a3aa1d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21(2b) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6026c3efb44e4887aa18d31c97070db9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6026c3efb44e4887aa18d31c97070db9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 3 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-01adb308a13c41b6985f46bc5647769a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-01adb308a13c41b6985f46bc5647769a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(2) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-89dbe787748d40b394aeeaba134c2f16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89dbe787748d40b394aeeaba134c2f16.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-09a52c39aa9f4d92b5db44ce00120945.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09a52c39aa9f4d92b5db44ce00120945.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
																				<td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 17g(1) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-50ce6eef42dc47a0b433d590c5f853fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50ce6eef42dc47a0b433d590c5f853fe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
																				<td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21b(2) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-a862ade9a5e542d2b516a7e140104d18.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a862ade9a5e542d2b516a7e140104d18.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																				<td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 3 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a700ce4ac28943fc9363b9183097849b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a700ce4ac28943fc9363b9183097849b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																				<td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21(2b) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0fd69622a1314fc4983219018ef376c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0fd69622a1314fc4983219018ef376c4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																				<td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 17g(1) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-87584e6d99834a11a1538b87e5c07959.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-87584e6d99834a11a1538b87e5c07959.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																				<td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21b(2) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-510fcd2618db47b5b745ebfcf3c718a0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-510fcd2618db47b5b745ebfcf3c718a0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																				<td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(2) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-170dc9af0d2944f9bf209763e5af9d1f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-170dc9af0d2944f9bf209763e5af9d1f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																				<td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-424d146932e14de5aecaea123ab86061.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-424d146932e14de5aecaea123ab86061.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2749458d729f4d68afe3764bbea8c609.html" target="element"> VAT4SME Common Function </a> </td>
																				<td> <a href="../elements/id-f3a038cff020457eaf669a766e042547.html" target="element"> VAT4SME Digital Public Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f604de5a1f1e45df9647ba51b44dc362.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f604de5a1f1e45df9647ba51b44dc362.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-2749458d729f4d68afe3764bbea8c609.html" target="element"> VAT4SME Common Function </a> </td>
																				<td> <a href="../elements/id-99442c2774a5423ba3a92d2839a49203.html" target="element"> Automated Access to MSEST Information </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>