<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VAT4SME Information - Active Exemption viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VAT4SME Information - Active Exemption viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-be95294496414131a0ce402a5124ead3.png" alt="VAT4SME Information - Active Exemption viewpoint" usemap="#id-be95294496414131a0ce402a5124ead3map"/>
			   <map name="id-be95294496414131a0ce402a5124ead3map">
				          <area shape="rect" coords="10,10,791,359" href="../objects/id-464008b499dd400ca92b0eade0d513b8.html" target="element" >
				  				<area shape="rect" coords="250,526,371,581" href="../elements/id-d714dd32542c49e892d214bf492ff8c6.html"  target="element">
				  				<area shape="rect" coords="118,526,239,581" href="../elements/id-0f5adc1923f740a48751794a7ee9d92e.html"  target="element">
				  				<area shape="rect" coords="142,742,406,797" href="../elements/id-085bd7d89fde46618c821d51393d5211.html"  target="element">

				  		<area shape="rect" coords="10,382,1007,911" href="../elements/id-884346d428b54d5691d91a0705f5cc16.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-085bd7d89fde46618c821d51393d5211.html" target="element"> Active Exemption </a> </td>
													    <td> <a href="../elements/id-085bd7d89fde46618c821d51393d5211.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f5adc1923f740a48751794a7ee9d92e.html" target="element"> Registration Date </a> </td>
													    <td> <a href="../elements/id-0f5adc1923f740a48751794a7ee9d92e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d714dd32542c49e892d214bf492ff8c6.html" target="element"> Request Date </a> </td>
													    <td> <a href="../elements/id-d714dd32542c49e892d214bf492ff8c6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-464008b499dd400ca92b0eade0d513b8.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-464008b499dd400ca92b0eade0d513b8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c39bf3e50c4840efbfc11fdf2b767e55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c39bf3e50c4840efbfc11fdf2b767e55.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-085bd7d89fde46618c821d51393d5211.html" target="element"> Active Exemption </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2cec9d4c41874f639ab8d85ca62ebc30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cec9d4c41874f639ab8d85ca62ebc30.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-0f5adc1923f740a48751794a7ee9d92e.html" target="element"> Registration Date </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9e2dd497e36247c6a4bc733871a6761d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9e2dd497e36247c6a4bc733871a6761d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-d714dd32542c49e892d214bf492ff8c6.html" target="element"> Request Date </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-aa5adb3421474069b3b88dcc394c1ed5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa5adb3421474069b3b88dcc394c1ed5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-085bd7d89fde46618c821d51393d5211.html" target="element"> Active Exemption </a> </td>
																				<td> <a href="../elements/id-0f5adc1923f740a48751794a7ee9d92e.html" target="element"> Registration Date </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fb8fd76ebff54ec788d06e13976e1152.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fb8fd76ebff54ec788d06e13976e1152.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-085bd7d89fde46618c821d51393d5211.html" target="element"> Active Exemption </a> </td>
																				<td> <a href="../elements/id-d714dd32542c49e892d214bf492ff8c6.html" target="element"> Request Date </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>