<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VAT4SME Information - Taxable Person viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VAT4SME Information - Taxable Person viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fa5feba072f648ac947d8872c60a3528.png" alt="VAT4SME Information - Taxable Person viewpoint" usemap="#id-fa5feba072f648ac947d8872c60a3528map"/>
			   <map name="id-fa5feba072f648ac947d8872c60a3528map">
				  				<area shape="rect" coords="394,166,580,239" href="../elements/id-82955d02a71b4357aae85bd62a59798a.html"  target="element">
				  				<area shape="rect" coords="262,286,695,341" href="../elements/id-d783945feb8f43e2881ec334ffb01745.html"  target="element">
				  				<area shape="rect" coords="46,166,239,239" href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html"  target="element">
				  				<area shape="rect" coords="34,46,755,131" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">

				          <area shape="rect" coords="10,10,791,359" href="../objects/id-ed98672365bf4a669af74c4c179d4659.html" target="element" >
				  				<area shape="rect" coords="574,490,731,563" href="../elements/id-3a7ad2a40b2e433d8d3a0162fc71a9da.html"  target="element">
				  				<area shape="rect" coords="394,490,551,563" href="../elements/id-74f713ca5af94811afe86d5f7bf35109.html"  target="element">
				  				<area shape="rect" coords="214,490,371,563" href="../elements/id-7da46de92cb7443daa5c428ef4033c71.html"  target="element">
				  				<area shape="rect" coords="34,490,191,563" href="../elements/id-cd46403b1e694ed38d09a4127d2fca70.html"  target="element">
				  				<area shape="rect" coords="34,778,767,899" href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html"  target="element">

				  		<area shape="rect" coords="10,382,1007,911" href="../elements/id-884346d428b54d5691d91a0705f5cc16.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element"> Taxable Person </a> </td>
													    <td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cd46403b1e694ed38d09a4127d2fca70.html" target="element"> Exempt Identification Number </a> </td>
													    <td> <a href="../elements/id-cd46403b1e694ed38d09a4127d2fca70.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7da46de92cb7443daa5c428ef4033c71.html" target="element"> VAT Identification Number </a> </td>
													    <td> <a href="../elements/id-7da46de92cb7443daa5c428ef4033c71.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74f713ca5af94811afe86d5f7bf35109.html" target="element"> Tax Identification Number  </a> </td>
													    <td> <a href="../elements/id-74f713ca5af94811afe86d5f7bf35109.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3a7ad2a40b2e433d8d3a0162fc71a9da.html" target="element"> Any Other Identification  </a> </td>
													    <td> <a href="../elements/id-3a7ad2a40b2e433d8d3a0162fc71a9da.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-ed98672365bf4a669af74c4c179d4659.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-ed98672365bf4a669af74c4c179d4659.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21(2b) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d783945feb8f43e2881ec334ffb01745.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(3) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-d783945feb8f43e2881ec334ffb01745.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-83a6f011a63e42409d8462ed7f192ce7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83a6f011a63e42409d8462ed7f192ce7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element"> Taxable Person </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-439a07b007ee4ed59cc16f20fffa0200.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-439a07b007ee4ed59cc16f20fffa0200.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-cd46403b1e694ed38d09a4127d2fca70.html" target="element"> Exempt Identification Number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78168058c7754cdf9ff36f943c1e512c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78168058c7754cdf9ff36f943c1e512c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-7da46de92cb7443daa5c428ef4033c71.html" target="element"> VAT Identification Number </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8d2ced14079d41028b51397a5f0172c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d2ced14079d41028b51397a5f0172c0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-74f713ca5af94811afe86d5f7bf35109.html" target="element"> Tax Identification Number  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2735240d30e54ee59e1a60a9efa68dd8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2735240d30e54ee59e1a60a9efa68dd8.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-3a7ad2a40b2e433d8d3a0162fc71a9da.html" target="element"> Any Other Identification  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-245c0d3bf4924abcbc23c9cdb4c80499.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-245c0d3bf4924abcbc23c9cdb4c80499.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element"> Taxable Person </a> </td>
																				<td> <a href="../elements/id-cd46403b1e694ed38d09a4127d2fca70.html" target="element"> Exempt Identification Number </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-758788d256284b6aa505aed92f1e0136.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-758788d256284b6aa505aed92f1e0136.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element"> Taxable Person </a> </td>
																				<td> <a href="../elements/id-7da46de92cb7443daa5c428ef4033c71.html" target="element"> VAT Identification Number </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74bf510ac7864f6fb1b921a3af2c71c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74bf510ac7864f6fb1b921a3af2c71c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element"> Taxable Person </a> </td>
																				<td> <a href="../elements/id-74f713ca5af94811afe86d5f7bf35109.html" target="element"> Tax Identification Number  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-153e6120c3554888adfd8ed287570be5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-153e6120c3554888adfd8ed287570be5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-bb0fa27e448744d9984123542d37a5f4.html" target="element"> Taxable Person </a> </td>
																				<td> <a href="../elements/id-3a7ad2a40b2e433d8d3a0162fc71a9da.html" target="element"> Any Other Identification  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c19dddc038664ef0a5ab2329d8728659.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c19dddc038664ef0a5ab2329d8728659.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd46403b1e694ed38d09a4127d2fca70.html" target="element"> Exempt Identification Number </a> </td>
																				<td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21(2b) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-eef1155ef5764901a7330f17db40b07e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eef1155ef5764901a7330f17db40b07e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7da46de92cb7443daa5c428ef4033c71.html" target="element"> VAT Identification Number </a> </td>
																				<td> <a href="../elements/id-d783945feb8f43e2881ec334ffb01745.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4f9f997839b642a6b53c99bd9ed516fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4f9f997839b642a6b53c99bd9ed516fc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-74f713ca5af94811afe86d5f7bf35109.html" target="element"> Tax Identification Number  </a> </td>
																				<td> <a href="../elements/id-d783945feb8f43e2881ec334ffb01745.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-aa6fa10b7b6a436db08de32766a6345f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa6fa10b7b6a436db08de32766a6345f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-3a7ad2a40b2e433d8d3a0162fc71a9da.html" target="element"> Any Other Identification  </a> </td>
																				<td> <a href="../elements/id-d783945feb8f43e2881ec334ffb01745.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-7715604be08a4918b570cb0d88a3aa1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7715604be08a4918b570cb0d88a3aa1d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-eb212e9facf0441c89a4ef4d88ecd97a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21(2b) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c31c04371ae5488daae54b20844331ca.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c31c04371ae5488daae54b20844331ca.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-d783945feb8f43e2881ec334ffb01745.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>