<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VAT4SME Information - MS Annual Threshold viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VAT4SME Information - MS Annual Threshold viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6549c735f62b460f8101d76e67f54593.png" alt="VAT4SME Information - MS Annual Threshold viewpoint" usemap="#id-6549c735f62b460f8101d76e67f54593map"/>
			   <map name="id-6549c735f62b460f8101d76e67f54593map">
				  				<area shape="rect" coords="382,214,551,278" href="../elements/id-82955d02a71b4357aae85bd62a59798a.html"  target="element">
				  				<area shape="rect" coords="586,214,755,278" href="../elements/id-b89853c09403446fb39a63f780369cf2.html"  target="element">
				  				<area shape="rect" coords="382,322,551,395" href="../elements/id-0d370669aec2491b90599e2343601a2c.html"  target="element">
				  				<area shape="rect" coords="394,46,755,179" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">
				  				<area shape="rect" coords="96,214,277,287" href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html"  target="element">
				  				<area shape="rect" coords="58,46,316,179" href="../elements/id-a779dbe0517940dd82012b6111312a2f.html"  target="element">

				          <area shape="rect" coords="10,10,791,407" href="../objects/id-a1b7519c696d49e6b8b18a0398d4fa6c.html" target="element" >
				  				<area shape="rect" coords="562,550,683,605" href="../elements/id-b7f411256c724bd0bcda5a8abf000ef4.html"  target="element">
				  				<area shape="rect" coords="418,550,539,605" href="../elements/id-55ee520506c84c6a9efe35a304fe0c86.html"  target="element">
				  				<area shape="rect" coords="274,550,395,605" href="../elements/id-6f1a9d4fd3824311a3f44952ec75e90f.html"  target="element">
				  				<area shape="rect" coords="130,550,251,605" href="../elements/id-98c54bf5f29946de81047f41d5f41ff7.html"  target="element">
				  				<area shape="rect" coords="130,740,635,795" href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html"  target="element">

				  		<area shape="rect" coords="10,478,791,815" href="../elements/id-884346d428b54d5691d91a0705f5cc16.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element"> MS Annual Threshold </a> </td>
													    <td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98c54bf5f29946de81047f41d5f41ff7.html" target="element"> MS of Exemption </a> </td>
													    <td> <a href="../elements/id-98c54bf5f29946de81047f41d5f41ff7.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6f1a9d4fd3824311a3f44952ec75e90f.html" target="element"> MS Annual Threshold  </a> </td>
													    <td> <a href="../elements/id-6f1a9d4fd3824311a3f44952ec75e90f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55ee520506c84c6a9efe35a304fe0c86.html" target="element"> Transitional period </a> </td>
													    <td> <a href="../elements/id-55ee520506c84c6a9efe35a304fe0c86.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b7f411256c724bd0bcda5a8abf000ef4.html" target="element"> Threshold Ceiling </a> </td>
													    <td> <a href="../elements/id-b7f411256c724bd0bcda5a8abf000ef4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-a1b7519c696d49e6b8b18a0398d4fa6c.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-a1b7519c696d49e6b8b18a0398d4fa6c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e60bbb4a83fc45c89073e93e255327f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e60bbb4a83fc45c89073e93e255327f0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element"> MS Annual Threshold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfe8553f927648d4b4d0cd0e0c988cd0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfe8553f927648d4b4d0cd0e0c988cd0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-98c54bf5f29946de81047f41d5f41ff7.html" target="element"> MS of Exemption </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2773f581d0134f8dacce275f01a28d2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2773f581d0134f8dacce275f01a28d2c.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-6f1a9d4fd3824311a3f44952ec75e90f.html" target="element"> MS Annual Threshold  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f64d67e762494bdcb64621fd56da9030.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f64d67e762494bdcb64621fd56da9030.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-55ee520506c84c6a9efe35a304fe0c86.html" target="element"> Transitional period </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d782b7a2e3fe47aebe6eb74ed47b892a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d782b7a2e3fe47aebe6eb74ed47b892a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-b7f411256c724bd0bcda5a8abf000ef4.html" target="element"> Threshold Ceiling </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6b1340ed24b04663b5d40e80d2844e34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b1340ed24b04663b5d40e80d2844e34.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element"> MS Annual Threshold </a> </td>
																				<td> <a href="../elements/id-98c54bf5f29946de81047f41d5f41ff7.html" target="element"> MS of Exemption </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-45e216b99f81472e966071b84115cc49.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45e216b99f81472e966071b84115cc49.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element"> MS Annual Threshold </a> </td>
																				<td> <a href="../elements/id-6f1a9d4fd3824311a3f44952ec75e90f.html" target="element"> MS Annual Threshold  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ac4110b8f5f742c59f7219befa4d22b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ac4110b8f5f742c59f7219befa4d22b0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element"> MS Annual Threshold </a> </td>
																				<td> <a href="../elements/id-55ee520506c84c6a9efe35a304fe0c86.html" target="element"> Transitional period </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fe3a5e9010a74f10aefdda970c41bf73.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe3a5e9010a74f10aefdda970c41bf73.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-69f5cd9d2da04b9ab246d75e7eedc764.html" target="element"> MS Annual Threshold </a> </td>
																				<td> <a href="../elements/id-b7f411256c724bd0bcda5a8abf000ef4.html" target="element"> Threshold Ceiling </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-a7786bd94e614449933803fd7cd02573.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a7786bd94e614449933803fd7cd02573.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-98c54bf5f29946de81047f41d5f41ff7.html" target="element"> MS of Exemption </a> </td>
																				<td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f4dd47db9f764f21bc9d967296ec8dc7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f4dd47db9f764f21bc9d967296ec8dc7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-6f1a9d4fd3824311a3f44952ec75e90f.html" target="element"> MS Annual Threshold  </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1b22c869649d49cbba89ae452e5d84c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1b22c869649d49cbba89ae452e5d84c5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-55ee520506c84c6a9efe35a304fe0c86.html" target="element"> Transitional period </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-7c2b619ca51248ffb92b03e949c97785.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7c2b619ca51248ffb92b03e949c97785.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b7f411256c724bd0bcda5a8abf000ef4.html" target="element"> Threshold Ceiling </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-d5932dbe9c1444cfab589b7d087777f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5932dbe9c1444cfab589b7d087777f0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-63b00af20b734937bc75a1a951d2f738.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63b00af20b734937bc75a1a951d2f738.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1a65edb423e74602b90c7525dbafa71a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a65edb423e74602b90c7525dbafa71a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>