<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>REST API viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>REST API viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b4bbff77bc78405fa7535dfde02c453d.png" alt="REST API viewpoint" usemap="#id-b4bbff77bc78405fa7535dfde02c453dmap"/>
			   <map name="id-b4bbff77bc78405fa7535dfde02c453dmap">
				  				<area shape="rect" coords="430,58,2446,113" href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html"  target="element">

				          <area shape="rect" coords="406,10,2474,130" href="../objects/id-38a33f98a1614c2a85dc7de23dcd6c84.html" target="element" >
				  				<area shape="rect" coords="1198,982,1415,1070" href="../elements/id-f0535192b0cb49aab5a077456d8cb6e6.html"  target="element">

				  		<area shape="rect" coords="1174,934,1438,1106" href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html"  target="element">
				  		<area shape="rect" coords="226,382,371,455" href="../elements/id-a3b5820f9b4a4497a965bcd14ee3c123.html"  target="element">
				  		<area shape="rect" coords="226,274,371,347" href="../elements/id-d3f1ea576e3a428c88458a4533f0892c.html"  target="element">
				  								<area shape="rect" coords="725,586,882,634" href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html"  target="element">
				  								<area shape="rect" coords="725,430,882,478" href="../elements/id-d7ee191f826a4af5b3bf58ac8eae40fb.html"  target="element">
				  								<area shape="rect" coords="725,310,882,370" href="../elements/id-3d9ba22d8828437f9b3dcf3602b1547d.html"  target="element">

				  						<area shape="rect" coords="713,262,893,707" href="../elements/id-2fd715e163e7440f88eeb890a666f6d1.html"  target="element">

				  				<area shape="rect" coords="689,202,906,802" href="../elements/id-7377436952e0445892780e7e8f63a18f.html"  target="element">
				  						<area shape="rect" coords="442,273,618,370" href="../elements/id-298534fd923445f082f4b41e287f9f35.html"  target="element">

				  				<area shape="rect" coords="418,201,630,802" href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html"  target="element">

				          <area shape="rect" coords="406,154,923,826" href="../objects/id-2c637000cb3a4ddcaf25d3711aa9e484.html" target="element" >
				  				<area shape="rect" coords="2218,286,2458,390" href="../elements/id-b4f3c45e2c434b218faaf44873b4eeae.html"  target="element">
				  				<area shape="rect" coords="2218,526,2458,630" href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html"  target="element">

				          <area shape="rect" coords="2194,154,2476,826" href="../objects/id-f8099235c5ea46ed8bf19b1e1bd370e4.html" target="element" >
				  				<area shape="rect" coords="1810,670,2063,774" href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html"  target="element">
				  				<area shape="rect" coords="1810,526,2063,630" href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html"  target="element">
				  				<area shape="rect" coords="1810,394,2063,498" href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html"  target="element">
				  				<area shape="rect" coords="1810,262,2063,366" href="../elements/id-ad9c177271204208ba76599052583dc2.html"  target="element">
				  				<area shape="rect" coords="1829,190,2045,802" href="../elements/id-61c83aaa0cc24bfcb062c7489c958f4e.html"  target="element">

				          <area shape="rect" coords="1774,154,2086,826" href="../objects/id-bc06b0bf57df48ac883bba86b18d8c2d.html" target="element" >
				  				<area shape="rect" coords="1366,538,1618,635" href="../elements/id-7989734a23d94867a2152c9962a82bb7.html"  target="element">
				  				<area shape="rect" coords="1366,226,1618,323" href="../elements/id-5d3556b374424ccc9f34b8de53c33dc6.html"  target="element">

				          <area shape="rect" coords="1354,154,1630,826" href="../objects/id-60c94bdd20494cafa87dfddbd81c6112.html" target="element" >
				  								<area shape="rect" coords="1054,298,1211,526" href="../elements/id-21a6b57c0b1d4e35b5bcab90af9f7737.html"  target="element">

				  						<area shape="rect" coords="1018,250,1247,539" href="../elements/id-a17209500b2f48609e43f89a9c4008c9.html"  target="element">

				  				<area shape="rect" coords="982,202,1271,574" href="../elements/id-9e4086c905a3436db940ce6d171681fd.html"  target="element">

				          <area shape="rect" coords="970,154,1294,826" href="../objects/id-b86b0bcc87ab4331bb888e671045d48c.html" target="element" >
				  				<area shape="rect" coords="34,190,172,802" href="../elements/id-a48e58f39d024551a0ab26619101f3fc.html"  target="element">

				          <area shape="rect" coords="10,154,202,826" href="../objects/id-a0f7593b8f0c45339bbf34b0fb949ec1.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-a0f7593b8f0c45339bbf34b0fb949ec1.html" target="element"> Communication </a> </td>
									           <td> <a href="../objects/id-a0f7593b8f0c45339bbf34b0fb949ec1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-a48e58f39d024551a0ab26619101f3fc.html" target="element"> &lt;&lt;CCN/CSI&gt;&gt; CCN2 </a> </td>
													    <td> <a href="../elements/id-a48e58f39d024551a0ab26619101f3fc.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-b86b0bcc87ab4331bb888e671045d48c.html" target="element"> Authentication (Security Enablers) </a> </td>
									           <td> <a href="../objects/id-b86b0bcc87ab4331bb888e671045d48c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-9e4086c905a3436db940ce6d171681fd.html" target="element"> Authentication Middleware </a> </td>
													    <td> <a href="../elements/id-9e4086c905a3436db940ce6d171681fd.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a17209500b2f48609e43f89a9c4008c9.html" target="element"> Authentication Service </a> </td>
															    <td> <a href="../elements/id-a17209500b2f48609e43f89a9c4008c9.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-21a6b57c0b1d4e35b5bcab90af9f7737.html" target="element"> Authentication </a> </td>
																	    <td> <a href="../elements/id-21a6b57c0b1d4e35b5bcab90af9f7737.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/id-60c94bdd20494cafa87dfddbd81c6112.html" target="element"> Application Presentation and Access Enablers </a> </td>
									           <td> <a href="../objects/id-60c94bdd20494cafa87dfddbd81c6112.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-5d3556b374424ccc9f34b8de53c33dc6.html" target="element"> VAT4SME HTML Human Interface </a> </td>
													    <td> <a href="../elements/id-5d3556b374424ccc9f34b8de53c33dc6.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element"> VAT4SME GraphQL Service Interface </a> </td>
													    <td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-bc06b0bf57df48ac883bba86b18d8c2d.html" target="element"> Digital Public Services </a> </td>
									           <td> <a href="../objects/id-bc06b0bf57df48ac883bba86b18d8c2d.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-61c83aaa0cc24bfcb062c7489c958f4e.html" target="element"> Enterprise Service Bus </a> </td>
													    <td> <a href="../elements/id-61c83aaa0cc24bfcb062c7489c958f4e.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad9c177271204208ba76599052583dc2.html" target="element"> VAT4SME SingleWindow Service </a> </td>
													    <td> <a href="../elements/id-ad9c177271204208ba76599052583dc2.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element"> VAT4SME Notifications Digital Solution Service </a> </td>
													    <td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element"> VAT4SME Quarterly Reports Digital Solution Service </a> </td>
													    <td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element"> VAT4SME Exemption and Cessation Digital Solution Service </a> </td>
													    <td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-f8099235c5ea46ed8bf19b1e1bd370e4.html" target="element"> Data Services </a> </td>
									           <td> <a href="../objects/id-f8099235c5ea46ed8bf19b1e1bd370e4.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html" target="element"> Data Management Service </a> </td>
													    <td> <a href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b4f3c45e2c434b218faaf44873b4eeae.html" target="element"> e-Archiving Service </a> </td>
													    <td> <a href="../elements/id-b4f3c45e2c434b218faaf44873b4eeae.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-2c637000cb3a4ddcaf25d3711aa9e484.html" target="element"> Fault Tolerance &amp; High Availability </a> </td>
									           <td> <a href="../objects/id-2c637000cb3a4ddcaf25d3711aa9e484.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
													    <td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-298534fd923445f082f4b41e287f9f35.html" target="element"> Firewall Service </a> </td>
															    <td> <a href="../elements/id-298534fd923445f082f4b41e287f9f35.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7377436952e0445892780e7e8f63a18f.html" target="element"> API Management Middleware </a> </td>
													    <td> <a href="../elements/id-7377436952e0445892780e7e8f63a18f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2fd715e163e7440f88eeb890a666f6d1.html" target="element"> API Manager Service </a> </td>
															    <td> <a href="../elements/id-2fd715e163e7440f88eeb890a666f6d1.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-3d9ba22d8828437f9b3dcf3602b1547d.html" target="element"> API Routing </a> </td>
																	    <td> <a href="../elements/id-3d9ba22d8828437f9b3dcf3602b1547d.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-d7ee191f826a4af5b3bf58ac8eae40fb.html" target="element"> Request Transformer and Validation </a> </td>
																	    <td> <a href="../elements/id-d7ee191f826a4af5b3bf58ac8eae40fb.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element"> Response Transformer and Validation </a> </td>
																	    <td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element" class="i18n-elementtype-ApplicationFunction">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-d3f1ea576e3a428c88458a4533f0892c.html" target="element"> Human request for service </a> </td>
											    <td> <a href="../elements/id-d3f1ea576e3a428c88458a4533f0892c.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3b5820f9b4a4497a965bcd14ee3c123.html" target="element"> Machine request for service </a> </td>
											    <td> <a href="../elements/id-a3b5820f9b4a4497a965bcd14ee3c123.html" target="element" class="i18n-elementtype-ApplicationEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html" target="element"> &lt;&lt;eira:Representation&gt;&gt; GraphQL </a> </td>
											    <td> <a href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f0535192b0cb49aab5a077456d8cb6e6.html" target="element"> API Response </a> </td>
													    <td> <a href="../elements/id-f0535192b0cb49aab5a077456d8cb6e6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-38a33f98a1614c2a85dc7de23dcd6c84.html" target="element"> Audit (Security Enablers </a> </td>
									           <td> <a href="../objects/id-38a33f98a1614c2a85dc7de23dcd6c84.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
													    <td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-257c8b89758f4f2981de83024077bb37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-257c8b89758f4f2981de83024077bb37.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a48e58f39d024551a0ab26619101f3fc.html" target="element"> &lt;&lt;CCN/CSI&gt;&gt; CCN2 </a> </td>
																				<td> <a href="../elements/id-d3f1ea576e3a428c88458a4533f0892c.html" target="element"> Human request for service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9c0a3fe02d2d48a1bea8a9ceebdbbfe1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9c0a3fe02d2d48a1bea8a9ceebdbbfe1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a48e58f39d024551a0ab26619101f3fc.html" target="element"> &lt;&lt;CCN/CSI&gt;&gt; CCN2 </a> </td>
																				<td> <a href="../elements/id-a3b5820f9b4a4497a965bcd14ee3c123.html" target="element"> Machine request for service </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-3a7e3a702d7247e08a707beea5b497c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3a7e3a702d7247e08a707beea5b497c6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e4086c905a3436db940ce6d171681fd.html" target="element"> Authentication Middleware </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0ed1c6c994404fd4ad4eb5c0a9e33360.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ed1c6c994404fd4ad4eb5c0a9e33360.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9e4086c905a3436db940ce6d171681fd.html" target="element"> Authentication Middleware </a> </td>
																				<td> <a href="../elements/id-a17209500b2f48609e43f89a9c4008c9.html" target="element"> Authentication Service </a> </td>
																			</tr>

																							<tr>
																								<td> <a href="../elements/id-edc075a2e7ce4e7396c2d3e65c38bddc.html" target="element"> human request </a> </td>
																								<td> <a href="../elements/id-edc075a2e7ce4e7396c2d3e65c38bddc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-21a6b57c0b1d4e35b5bcab90af9f7737.html" target="element"> Authentication </a> </td>
																								<td> <a href="../elements/id-5d3556b374424ccc9f34b8de53c33dc6.html" target="element"> VAT4SME HTML Human Interface </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-d66de11ea184419380690dcd563d4977.html" target="element"> machine request </a> </td>
																								<td> <a href="../elements/id-d66de11ea184419380690dcd563d4977.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-21a6b57c0b1d4e35b5bcab90af9f7737.html" target="element"> Authentication </a> </td>
																								<td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element"> VAT4SME GraphQL Service Interface </a> </td>
																							</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-56e64824b9f74142ae2396a9dff09000.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-56e64824b9f74142ae2396a9dff09000.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5d3556b374424ccc9f34b8de53c33dc6.html" target="element"> VAT4SME HTML Human Interface </a> </td>
																				<td> <a href="../elements/id-ad9c177271204208ba76599052583dc2.html" target="element"> VAT4SME SingleWindow Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-088c289ca3444ba7817a443e09f6aeb6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-088c289ca3444ba7817a443e09f6aeb6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element"> VAT4SME GraphQL Service Interface </a> </td>
																				<td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element"> VAT4SME Notifications Digital Solution Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9e91762ab365419f9251452d6fb06cf5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9e91762ab365419f9251452d6fb06cf5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element"> VAT4SME GraphQL Service Interface </a> </td>
																				<td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element"> VAT4SME Quarterly Reports Digital Solution Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ff44e82d2c584150bb26888eb17cbd5a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ff44e82d2c584150bb26888eb17cbd5a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element"> VAT4SME GraphQL Service Interface </a> </td>
																				<td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element"> VAT4SME Exemption and Cessation Digital Solution Service </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-230e2913954642af831a6e114e4bc0df.html" target="element"> human request </a> </td>
																				<td> <a href="../elements/id-230e2913954642af831a6e114e4bc0df.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad9c177271204208ba76599052583dc2.html" target="element"> VAT4SME SingleWindow Service </a> </td>
																				<td> <a href="../elements/id-7989734a23d94867a2152c9962a82bb7.html" target="element"> VAT4SME GraphQL Service Interface </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-214760b42446427d84c36f4ae38f20c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-214760b42446427d84c36f4ae38f20c8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ad9c177271204208ba76599052583dc2.html" target="element"> VAT4SME SingleWindow Service </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0c14fa3c58204b7b901cfb42b361cb55.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0c14fa3c58204b7b901cfb42b361cb55.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element"> VAT4SME Notifications Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html" target="element"> Data Management Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a92395b2cb5a41e09ddd7480c4b2b47e.html" target="element"> response </a> </td>
																				<td> <a href="../elements/id-a92395b2cb5a41e09ddd7480c4b2b47e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element"> VAT4SME Notifications Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element"> Response Transformer and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-510adec9095845bb949611cc23c72409.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-510adec9095845bb949611cc23c72409.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element"> VAT4SME Notifications Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html" target="element"> &lt;&lt;eira:Representation&gt;&gt; GraphQL </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2f55715c24a44ed9980a5802e35197da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f55715c24a44ed9980a5802e35197da.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a8da0988b5c4449fac7c90faf9dd9654.html" target="element"> VAT4SME Notifications Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-be677f3ddcaa4849bf365feaeb2753ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-be677f3ddcaa4849bf365feaeb2753ff.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element"> VAT4SME Quarterly Reports Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html" target="element"> Data Management Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a1ef8f0b5d54485fa4f8bc150d467d6e.html" target="element"> response </a> </td>
																				<td> <a href="../elements/id-a1ef8f0b5d54485fa4f8bc150d467d6e.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element"> VAT4SME Quarterly Reports Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element"> Response Transformer and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1d72f5678da5442cbcae445eece21d59.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1d72f5678da5442cbcae445eece21d59.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element"> VAT4SME Quarterly Reports Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html" target="element"> &lt;&lt;eira:Representation&gt;&gt; GraphQL </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-af3264131b304d82ae44541d87bf5465.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af3264131b304d82ae44541d87bf5465.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ddcff0d8dae9404bae065bff89a48f52.html" target="element"> VAT4SME Quarterly Reports Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c8260719c0424aab94517c3fb8f86930.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8260719c0424aab94517c3fb8f86930.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element"> VAT4SME Exemption and Cessation Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html" target="element"> Data Management Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e8bbafc51582434d9518df6379ac9c03.html" target="element"> response </a> </td>
																				<td> <a href="../elements/id-e8bbafc51582434d9518df6379ac9c03.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element"> VAT4SME Exemption and Cessation Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element"> Response Transformer and Validation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-088e3cf544c14252b32a7f4b25cfe5da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-088e3cf544c14252b32a7f4b25cfe5da.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element"> VAT4SME Exemption and Cessation Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html" target="element"> &lt;&lt;eira:Representation&gt;&gt; GraphQL </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-536a21f1e0914f5dbc80a4059da1b148.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-536a21f1e0914f5dbc80a4059da1b148.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f7ee47a3c69a4f9ea4f7d6e694c408bf.html" target="element"> VAT4SME Exemption and Cessation Digital Solution Service </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-eaa160f03b584dfea6b0c07dab12d9d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-eaa160f03b584dfea6b0c07dab12d9d7.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-38ee672f8d874416b8a50ff0da38b656.html" target="element"> Data Management Service </a> </td>
																				<td> <a href="../elements/id-b4f3c45e2c434b218faaf44873b4eeae.html" target="element"> e-Archiving Service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-89400793777e46328c2cff61fcb7d91d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89400793777e46328c2cff61fcb7d91d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b4f3c45e2c434b218faaf44873b4eeae.html" target="element"> e-Archiving Service </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-d79d782730e549b08dda779d4ba213f6.html" target="element"> human request </a> </td>
																				<td> <a href="../elements/id-d79d782730e549b08dda779d4ba213f6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
																				<td> <a href="../elements/id-3d9ba22d8828437f9b3dcf3602b1547d.html" target="element"> API Routing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a25bbccc6d614a1ba2a131c3e45f63e2.html" target="element"> response </a> </td>
																				<td> <a href="../elements/id-a25bbccc6d614a1ba2a131c3e45f63e2.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
																				<td> <a href="../elements/id-a48e58f39d024551a0ab26619101f3fc.html" target="element"> &lt;&lt;CCN/CSI&gt;&gt; CCN2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-beb58a24794649c8beabbf2d8d7827cd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-beb58a24794649c8beabbf2d8d7827cd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3f9192e9addc4b8fb158c584b148c9a9.html" target="element"> machine request </a> </td>
																				<td> <a href="../elements/id-3f9192e9addc4b8fb158c584b148c9a9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
																				<td> <a href="../elements/id-3d9ba22d8828437f9b3dcf3602b1547d.html" target="element"> API Routing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-02b119ff7f804f51a022de66bfa9bd89.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-02b119ff7f804f51a022de66bfa9bd89.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
																				<td> <a href="../elements/id-298534fd923445f082f4b41e287f9f35.html" target="element"> Firewall Service </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-c25c7dc90c0d422e9dd03a494d620770.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c25c7dc90c0d422e9dd03a494d620770.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7377436952e0445892780e7e8f63a18f.html" target="element"> API Management Middleware </a> </td>
																				<td> <a href="../elements/id-d23c99a662fb4611b5d9df01ca3a3e6e.html" target="element"> Audit Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-722fd9a7ee8742b88d1e9de3f68a7a08.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-722fd9a7ee8742b88d1e9de3f68a7a08.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7377436952e0445892780e7e8f63a18f.html" target="element"> API Management Middleware </a> </td>
																				<td> <a href="../elements/id-2fd715e163e7440f88eeb890a666f6d1.html" target="element"> API Manager Service </a> </td>
																			</tr>

																							<tr>
																								<td> <a href="../elements/id-428759b2d95940a5a617eda671d303e1.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-428759b2d95940a5a617eda671d303e1.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-3d9ba22d8828437f9b3dcf3602b1547d.html" target="element"> API Routing </a> </td>
																								<td> <a href="../elements/id-d7ee191f826a4af5b3bf58ac8eae40fb.html" target="element"> Request Transformer and Validation </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/id-2c8c37de55544ab0851f2c4c9cebf43c.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-2c8c37de55544ab0851f2c4c9cebf43c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-d7ee191f826a4af5b3bf58ac8eae40fb.html" target="element"> Request Transformer and Validation </a> </td>
																								<td> <a href="../elements/id-21a6b57c0b1d4e35b5bcab90af9f7737.html" target="element"> Authentication </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/id-ae758152f3b24dbaa0c6be006ad4464d.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-ae758152f3b24dbaa0c6be006ad4464d.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element"> Response Transformer and Validation </a> </td>
																								<td> <a href="../elements/id-8c036d3f4083478887ced75dd977c5cd.html" target="element"> HTTP Load Balancer </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/id-4701d30892844114bd4e50bb1b583719.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-4701d30892844114bd4e50bb1b583719.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-8d6c8383ad6b4119a919e818fa9dde81.html" target="element"> Response Transformer and Validation </a> </td>
																								<td> <a href="../elements/id-87ab0f4b6b4145c1be82a5de8beb5e75.html" target="element"> &lt;&lt;eira:Representation&gt;&gt; GraphQL </a> </td>
																							</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-a3a5441559534871b3abe44cc3e67561.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3a5441559534871b3abe44cc3e67561.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3f1ea576e3a428c88458a4533f0892c.html" target="element"> Human request for service </a> </td>
																		<td> <a href="../elements/id-298534fd923445f082f4b41e287f9f35.html" target="element"> Firewall Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0cebe8d4ea0b4e26a40af11287f365ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cebe8d4ea0b4e26a40af11287f365ea.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3b5820f9b4a4497a965bcd14ee3c123.html" target="element"> Machine request for service </a> </td>
																		<td> <a href="../elements/id-298534fd923445f082f4b41e287f9f35.html" target="element"> Firewall Service </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>