<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Exclusion and cessation - change in legislation in MS of exemption viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Exclusion and cessation - change in legislation in MS of exemption viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c22648920e014fbf9fbe97465b8b0ebb.png" alt="Exclusion and cessation - change in legislation in MS of exemption viewpoint" usemap="#id-c22648920e014fbf9fbe97465b8b0ebbmap"/>
			   <map name="id-c22648920e014fbf9fbe97465b8b0ebbmap">
				  				<area shape="rect" coords="2124,727,2244,782" href="../elements/id-f53f610d826145e5b14302647e23f494.html"  target="element">
				  				<area shape="rect" coords="1162,714,1372,802" href="../elements/id-2ddec8cbb2f54da99602f314bfb7c73a.html"  target="element">
				  				<area shape="rect" coords="1474,714,1654,802" href="../elements/id-d46ef711556c4061a0d03e96ad050cfb.html"  target="element">
				  				<area shape="rect" coords="1762,714,1942,802" href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html"  target="element">

				          <area shape="rect" coords="10,594,3358,874" href="../objects/id-7eba1d53426948629ce950599af469c0.html" target="element" >
				  				<area shape="rect" coords="3070,367,3270,455" href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html"  target="element">
				  				<area shape="rect" coords="2854,367,3054,455" href="../elements/id-2eb1224ef6d84d088536a58f5ca6febf.html"  target="element">
				  				<area shape="rect" coords="2638,367,2838,455" href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html"  target="element">
				  				<area shape="rect" coords="2824,46,3084,238" href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html"  target="element">
				  				<area shape="rect" coords="2154,367,2354,455" href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html"  target="element">
				  				<area shape="rect" coords="1938,367,2138,455" href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html"  target="element">
				  				<area shape="rect" coords="1306,367,1506,455" href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html"  target="element">
				  				<area shape="rect" coords="2362,367,2562,455" href="../elements/id-86e9b1cbc5a04552b4cb4f0232c363ea.html"  target="element">
				  				<area shape="rect" coords="1722,367,1922,455" href="../elements/id-33f51a415eb54536b5016d8fbc7b3525.html"  target="element">
				  				<area shape="rect" coords="1510,367,1710,455" href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html"  target="element">
				  				<area shape="rect" coords="1810,46,2070,238" href="../elements/id-a779dbe0517940dd82012b6111312a2f.html"  target="element">
				  				<area shape="rect" coords="1042,367,1222,455" href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html"  target="element">
				  				<area shape="rect" coords="466,367,646,455" href="../elements/id-b89853c09403446fb39a63f780369cf2.html"  target="element">
				  				<area shape="rect" coords="82,367,262,455" href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html"  target="element">
				  				<area shape="rect" coords="658,367,838,455" href="../elements/id-15c4ebd425b84d86ba31e1a59d296a5e.html"  target="element">
				  				<area shape="rect" coords="274,367,454,455" href="../elements/id-0d370669aec2491b90599e2343601a2c.html"  target="element">
				  				<area shape="rect" coords="850,367,1030,455" href="../elements/id-ed21c5efaa9c4a4da2742a485bc885d9.html"  target="element">
				  				<area shape="rect" coords="514,46,774,238" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">

				          <area shape="rect" coords="10,10,3358,538" href="../objects/id-92db7115a11f46bfa1bc06809d90e052.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The Legal view models the most salient public policy development enablers and implementation instruments that shall be considered in order to support legal interoperability.

Narrative: A [Public Policy] is the outcome of a specific [Public Policy Cycle] that aims at addressing the needs of a group of stakeholders. The policy is formulated and implemented with the help of [Public Policy Formulation and Implementation Instruments] such as [Legal Requirements or Constraints] in the form of either [Binding Instruments] or [Non-Binding Instruments], or [Operational Enablers], such as [Financial Resources] or [Implementing Guidelines]. The [Operational Enablers] are influenced by [Public Policy Implementation Mandates] and/or [Public Policy Implementation Approaches]. The [Public Policy Formulation and Implementation Instruments] are included in a [Legislation Catalogue].

These different Architecture Building Blocks define the [Legal content] and each of these Architecture Building Blocks can have any [Interoperability Specification] associated, of which the [Legal Interoperability Specification] is a specialisation.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>dct:title</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Legal view</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-92db7115a11f46bfa1bc06809d90e052.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-92db7115a11f46bfa1bc06809d90e052.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ed21c5efaa9c4a4da2742a485bc885d9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(2) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-ed21c5efaa9c4a4da2742a485bc885d9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-15c4ebd425b84d86ba31e1a59d296a5e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-15c4ebd425b84d86ba31e1a59d296a5e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 283(2) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(3) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 3 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33f51a415eb54536b5016d8fbc7b3525.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(1) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-33f51a415eb54536b5016d8fbc7b3525.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86e9b1cbc5a04552b4cb4f0232c363ea.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4a(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-86e9b1cbc5a04552b4cb4f0232c363ea.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(2) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
													    <td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
													    <td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 17g(1) - Council Regulation (EU) No 904/2010 </a> </td>
													    <td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2eb1224ef6d84d088536a58f5ca6febf.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 32(1) - Council Regulation (EU) No 904/2010 </a> </td>
													    <td> <a href="../elements/id-2eb1224ef6d84d088536a58f5ca6febf.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21b(2) - Council Regulation (EU) No 904/2010 </a> </td>
													    <td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7eba1d53426948629ce950599af469c0.html" target="element"> Digital Public Services </a> </td>
									           <td> <a href="../objects/id-7eba1d53426948629ce950599af469c0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
													    <td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d46ef711556c4061a0d03e96ad050cfb.html" target="element"> VAT4SME Exemption and Cessation Function </a> </td>
													    <td> <a href="../elements/id-d46ef711556c4061a0d03e96ad050cfb.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2ddec8cbb2f54da99602f314bfb7c73a.html" target="element"> VAT4SME Exemption and Cessation Digital Public Service </a> </td>
													    <td> <a href="../elements/id-2ddec8cbb2f54da99602f314bfb7c73a.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f53f610d826145e5b14302647e23f494.html" target="element"> IE3E01 Exemption Cessation </a> </td>
													    <td> <a href="../elements/id-f53f610d826145e5b14302647e23f494.html" target="element" class="i18n-elementtype-BusinessEvent">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-fcd12642f2c746b6a82e089451f7ed77.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fcd12642f2c746b6a82e089451f7ed77.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 283(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-63b00af20b734937bc75a1a951d2f738.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63b00af20b734937bc75a1a951d2f738.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-577d0b7f93404460b4dc593ca8cb8b8b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-577d0b7f93404460b4dc593ca8cb8b8b.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-ed21c5efaa9c4a4da2742a485bc885d9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f2c4eb0165984a7398040f4e50a592d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2c4eb0165984a7398040f4e50a592d1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-6026c3efb44e4887aa18d31c97070db9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6026c3efb44e4887aa18d31c97070db9.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 3 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-82f7e6fb0ce241dabd7ae7b155868b12.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-82f7e6fb0ce241dabd7ae7b155868b12.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-33f51a415eb54536b5016d8fbc7b3525.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(1) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-01adb308a13c41b6985f46bc5647769a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-01adb308a13c41b6985f46bc5647769a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(2) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-89dbe787748d40b394aeeaba134c2f16.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-89dbe787748d40b394aeeaba134c2f16.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-74d3743a6f9e4a099a4a4b0f6e534900.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-74d3743a6f9e4a099a4a4b0f6e534900.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-86e9b1cbc5a04552b4cb4f0232c363ea.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4a(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d5932dbe9c1444cfab589b7d087777f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d5932dbe9c1444cfab589b7d087777f0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a779dbe0517940dd82012b6111312a2f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Commission Implementing Regulation (EU) 2021/2007 of 16 November 2021 laying down detailed rules for the application of Council Regulation (EU) No 904/2010 as regards the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-09a52c39aa9f4d92b5db44ce00120945.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-09a52c39aa9f4d92b5db44ce00120945.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
																				<td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 17g(1) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-50ce6eef42dc47a0b433d590c5f853fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-50ce6eef42dc47a0b433d590c5f853fe.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
																				<td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21b(2) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ab65d7de85f840b1bf5c57e97f81a3da.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ab65d7de85f840b1bf5c57e97f81a3da.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-ae15d6d6e1af46bab0dccdbaf63565ef.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Regulation (EU) No 904/2010 of 7 October 2010 on administrative cooperation and combating fraud in the field of value added tax (recast) </a> </td>
																				<td> <a href="../elements/id-2eb1224ef6d84d088536a58f5ca6febf.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 32(1) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-a191fdc7f0694e68972b36b95ec01645.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a191fdc7f0694e68972b36b95ec01645.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5785c6673264455eac6ad3808904d2c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5785c6673264455eac6ad3808904d2c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-15c4ebd425b84d86ba31e1a59d296a5e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2685b3e8bb094e37ad716684fcb0b177.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2685b3e8bb094e37ad716684fcb0b177.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-14293ccba72445f5a0cc63abe9902fa0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 3 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4179bf0537af412a8209a707fe4360e5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4179bf0537af412a8209a707fe4360e5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-ab9cc6c9706b4d24a9f8aa1854d6764b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 17g(1) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4e0582357a444011b80a775a081f2b20.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4e0582357a444011b80a775a081f2b20.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-a602fa0335b44d85807d285df0ba9f0b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 21b(2) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5785c6673264455eac6ad3808904d2c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5785c6673264455eac6ad3808904d2c3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-15c4ebd425b84d86ba31e1a59d296a5e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8ce14b4ad22f4dceab3c09e31928e9f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8ce14b4ad22f4dceab3c09e31928e9f5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-4877ce1f680544f8ad81d0214ebe6f11.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(2) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bc42e0ff8b2742c19204584f884a2e09.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bc42e0ff8b2742c19204584f884a2e09.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-53728a3d61cb472fbe54c1d83c6369b0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a191fdc7f0694e68972b36b95ec01645.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a191fdc7f0694e68972b36b95ec01645.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-18f4791571ed47f6bdd8c658a6023942.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 1 - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c15bf97bcdf84b7086a641b1c55d66dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c15bf97bcdf84b7086a641b1c55d66dd.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-2eb1224ef6d84d088536a58f5ca6febf.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 32(1) - Council Regulation (EU) No 904/2010 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0d49863129bc481eae2c4eaa6e82ccef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0d49863129bc481eae2c4eaa6e82ccef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-33f51a415eb54536b5016d8fbc7b3525.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4(1) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2394196092e348358e9c9190d58dc882.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2394196092e348358e9c9190d58dc882.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8faec9c86ba147af841cb2d40a585f42.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8faec9c86ba147af841cb2d40a585f42.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 283(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d775b29ef2a041a4a558616ae2d48e4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d775b29ef2a041a4a558616ae2d48e4f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-52b8d195c088435ea92b0068dde00360.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-52b8d195c088435ea92b0068dde00360.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-ed21c5efaa9c4a4da2742a485bc885d9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-680becbe0a0e499091c8fed2001c6f8a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-680becbe0a0e499091c8fed2001c6f8a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9f800eacce924b23b4e4cb50b118d540.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9f800eacce924b23b4e4cb50b118d540.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-86e9b1cbc5a04552b4cb4f0232c363ea.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 4a(3) - Commission Implementing Regulation (EU) 2021/2007 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-53e97deeb36e4edd810f9c2aa8c95c49.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-53e97deeb36e4edd810f9c2aa8c95c49.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																				<td> <a href="../elements/id-f53f610d826145e5b14302647e23f494.html" target="element"> IE3E01 Exemption Cessation </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-f050761ee820448ab03188552ead41a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f050761ee820448ab03188552ead41a5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d46ef711556c4061a0d03e96ad050cfb.html" target="element"> VAT4SME Exemption and Cessation Function </a> </td>
																				<td> <a href="../elements/id-2ddec8cbb2f54da99602f314bfb7c73a.html" target="element"> VAT4SME Exemption and Cessation Digital Public Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-19039e07cc2a4276b8cbed1d58bbbd4e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19039e07cc2a4276b8cbed1d58bbbd4e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d46ef711556c4061a0d03e96ad050cfb.html" target="element"> VAT4SME Exemption and Cessation Function </a> </td>
																				<td> <a href="../elements/id-95f0e1947e82430c9cfd5ce03b85f18b.html" target="element"> Exclusion and cessation - change in legislation in MS of exemption </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>