<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>VAT4SME Information - Cessation of MS of Exemption viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>VAT4SME Information - Cessation of MS of Exemption viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c972b74e61394d119e47454f69b5197a.png" alt="VAT4SME Information - Cessation of MS of Exemption viewpoint" usemap="#id-c972b74e61394d119e47454f69b5197amap"/>
			   <map name="id-c972b74e61394d119e47454f69b5197amap">
				  				<area shape="rect" coords="34,166,179,243" href="../elements/id-82955d02a71b4357aae85bd62a59798a.html"  target="element">
				  				<area shape="rect" coords="622,168,767,241" href="../elements/id-d25b37e376704848b0ebb96348642aa4.html"  target="element">
				  				<area shape="rect" coords="22,430,155,502" href="../elements/id-e9562e6edc794a829fca3860c0d850a2.html"  target="element">
				  				<area shape="rect" coords="34,280,167,359" href="../elements/id-153171d699144c9ca4ee06056fd0074e.html"  target="element">
				  				<area shape="rect" coords="346,418,479,490" href="../elements/id-594f3939ff5843e7b05121c7df9bc53b.html"  target="element">
				  				<area shape="rect" coords="322,280,455,359" href="../elements/id-01d8058ba97145d7ac529df9e313b4f0.html"  target="element">
				  				<area shape="rect" coords="178,280,312,359" href="../elements/id-18230c3659ff444d8acd57980acde36e.html"  target="element">
				  				<area shape="rect" coords="190,394,300,466" href="../elements/id-0d370669aec2491b90599e2343601a2c.html"  target="element">
				  				<area shape="rect" coords="910,168,1055,241" href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html"  target="element">
				  				<area shape="rect" coords="478,168,611,241" href="../elements/id-b89853c09403446fb39a63f780369cf2.html"  target="element">
				  				<area shape="rect" coords="778,168,899,241" href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html"  target="element">
				  				<area shape="rect" coords="130,34,659,131" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">

				          <area shape="rect" coords="10,10,1103,515" href="../objects/id-d95721c7449948d4b5e4fc91a1e71ad5.html" target="element" >
				  				<area shape="rect" coords="466,802,586,857" href="../elements/id-e247f371104449c1915ebf2b48c6e103.html"  target="element">
				  				<area shape="rect" coords="322,802,442,857" href="../elements/id-5e48fb971a634b0db5e74d458d87a33d.html"  target="element">
				  				<area shape="rect" coords="190,802,310,857" href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html"  target="element">
				  				<area shape="rect" coords="190,958,599,1013" href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html"  target="element">

				  		<area shape="rect" coords="10,598,1007,1127" href="../elements/id-884346d428b54d5691d91a0705f5cc16.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
											    <td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html" target="element"> Cessation from MS of Exemption </a> </td>
													    <td> <a href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
													    <td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5e48fb971a634b0db5e74d458d87a33d.html" target="element"> MS Annual Threshold Exceedance Date  </a> </td>
													    <td> <a href="../elements/id-5e48fb971a634b0db5e74d458d87a33d.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e247f371104449c1915ebf2b48c6e103.html" target="element"> Cessation Effective Date  </a> </td>
													    <td> <a href="../elements/id-e247f371104449c1915ebf2b48c6e103.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-d95721c7449948d4b5e4fc91a1e71ad5.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-d95721c7449948d4b5e4fc91a1e71ad5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(3) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 283(2) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18230c3659ff444d8acd57980acde36e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284b(3) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-18230c3659ff444d8acd57980acde36e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-01d8058ba97145d7ac529df9e313b4f0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(a) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-01d8058ba97145d7ac529df9e313b4f0.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-594f3939ff5843e7b05121c7df9bc53b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(b) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-594f3939ff5843e7b05121c7df9bc53b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-153171d699144c9ca4ee06056fd0074e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(c) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-153171d699144c9ca4ee06056fd0074e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e9562e6edc794a829fca3860c0d850a2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(d) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-e9562e6edc794a829fca3860c0d850a2.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d25b37e376704848b0ebb96348642aa4.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(2) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-d25b37e376704848b0ebb96348642aa4.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-efde0a20279a4448a2404ae4b53d0618.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-efde0a20279a4448a2404ae4b53d0618.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html" target="element"> Cessation from MS of Exemption </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a3d4f442200453e9aed67771463045e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a3d4f442200453e9aed67771463045e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dca5cb1ae67b4e4ca9363fe398c28720.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dca5cb1ae67b4e4ca9363fe398c28720.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-5e48fb971a634b0db5e74d458d87a33d.html" target="element"> MS Annual Threshold Exceedance Date  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-beeb4a17bc994692b80c75e844b24c1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-beeb4a17bc994692b80c75e844b24c1a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-884346d428b54d5691d91a0705f5cc16.html" target="element"> VAT4SME Information map </a> </td>
																		<td> <a href="../elements/id-e247f371104449c1915ebf2b48c6e103.html" target="element"> Cessation Effective Date  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d8c3d201b231422f809c13e52cc53f29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d8c3d201b231422f809c13e52cc53f29.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html" target="element"> Cessation from MS of Exemption </a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-391bea71a0ef44d4941feaa1b5d921b3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-391bea71a0ef44d4941feaa1b5d921b3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html" target="element"> Cessation from MS of Exemption </a> </td>
																				<td> <a href="../elements/id-5e48fb971a634b0db5e74d458d87a33d.html" target="element"> MS Annual Threshold Exceedance Date  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-461aa5adff134a0da8f098a382636a2f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-461aa5adff134a0da8f098a382636a2f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9b09c96fda5f4eeda04d4d8a38b5cd32.html" target="element"> Cessation from MS of Exemption </a> </td>
																				<td> <a href="../elements/id-e247f371104449c1915ebf2b48c6e103.html" target="element"> Cessation Effective Date  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e404066a83394e72a2d17e967894ff18.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e404066a83394e72a2d17e967894ff18.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-40643d40fd714a238d5ace34ce3ec99c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-40643d40fd714a238d5ace34ce3ec99c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-594f3939ff5843e7b05121c7df9bc53b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(b) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3effabcd471c44cf8a372e3e93284405.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3effabcd471c44cf8a372e3e93284405.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-d25b37e376704848b0ebb96348642aa4.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fe5642ad32744f83a589ab06d266f78b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fe5642ad32744f83a589ab06d266f78b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-e9562e6edc794a829fca3860c0d850a2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(d) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2c358a9d81e64c1b9c80e49dab7edee4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2c358a9d81e64c1b9c80e49dab7edee4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70ca7270826a4e218b375355484f991c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70ca7270826a4e218b375355484f991c.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-01d8058ba97145d7ac529df9e313b4f0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(a) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-049c4396404f434589e56f3cb020a8b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-049c4396404f434589e56f3cb020a8b5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-18230c3659ff444d8acd57980acde36e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284b(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fc2039373411408b975ce77eb6b6e7d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fc2039373411408b975ce77eb6b6e7d6.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 283(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2a0c6208e6e340528c9c782e71f9be95.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2a0c6208e6e340528c9c782e71f9be95.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-84063c67c76e4c2c913ade9d52a63223.html" target="element"> Cessation Reason </a> </td>
																				<td> <a href="../elements/id-153171d699144c9ca4ee06056fd0074e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(c) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d8788f9175ac4719925653c46af5fecc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d8788f9175ac4719925653c46af5fecc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5e48fb971a634b0db5e74d458d87a33d.html" target="element"> MS Annual Threshold Exceedance Date  </a> </td>
																				<td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-35ac9777909848d29d0829e49df3c9ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-35ac9777909848d29d0829e49df3c9ce.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e247f371104449c1915ebf2b48c6e103.html" target="element"> Cessation Effective Date  </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-f2c4eb0165984a7398040f4e50a592d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2c4eb0165984a7398040f4e50a592d1.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-1a039b2d10ed4e1bb833eb6789696140.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 37b(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-63b00af20b734937bc75a1a951d2f738.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-63b00af20b734937bc75a1a951d2f738.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-b89853c09403446fb39a63f780369cf2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-fcd12642f2c746b6a82e089451f7ed77.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-fcd12642f2c746b6a82e089451f7ed77.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-bcf54a9ca3a24eb29bf804d035a635f9.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 283(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-68234fe0829e4294bbb8bfe00ffc9488.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-68234fe0829e4294bbb8bfe00ffc9488.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-d25b37e376704848b0ebb96348642aa4.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 288a(2) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49b8a71cf8be4a12b5783c2a0afeab51.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1a65edb423e74602b90c7525dbafa71a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1a65edb423e74602b90c7525dbafa71a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-0d370669aec2491b90599e2343601a2c.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-15bfc010c96d491f8a619afc5ba39045.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-15bfc010c96d491f8a619afc5ba39045.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-153171d699144c9ca4ee06056fd0074e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(c) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1e07b48fd56d4682a76d24d50376d39d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e07b48fd56d4682a76d24d50376d39d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-18230c3659ff444d8acd57980acde36e.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284b(3) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a91120325bb846889f167b42e85770fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a91120325bb846889f167b42e85770fc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-e9562e6edc794a829fca3860c0d850a2.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(d) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d55ca1cec46e48d28962b58cba293853.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d55ca1cec46e48d28962b58cba293853.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-594f3939ff5843e7b05121c7df9bc53b.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(b) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ff99d55b38654a6398b34a61fdc77ce5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ff99d55b38654a6398b34a61fdc77ce5.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-82955d02a71b4357aae85bd62a59798a.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284 - Council Directive (EU) 2020/285/EC </a> </td>
																				<td> <a href="../elements/id-01d8058ba97145d7ac529df9e313b4f0.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284e(a) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>