<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Validate the Notification (Syntax and Semantics) viewpoint</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Validate the Notification (Syntax and Semantics) viewpoint</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-eab9a07077cb49b5950eb4e7ee53116a.png" alt="Validate the Notification (Syntax and Semantics) viewpoint" usemap="#id-eab9a07077cb49b5950eb4e7ee53116amap"/>
			   <map name="id-eab9a07077cb49b5950eb4e7ee53116amap">
				  				<area shape="rect" coords="274,774,394,829" href="../elements/id-ac3c4a4b97114eae83a3b01015164b23.html"  target="element">
				  				<area shape="rect" coords="34,774,154,829" href="../elements/id-017b74c9b9914aad8e8b7b3973b80659.html"  target="element">
				  				<area shape="rect" coords="137,654,317,742" href="../elements/id-cd877081d206470c923341400b00ca7b.html"  target="element">

				          <area shape="rect" coords="10,594,442,850" href="../objects/id-5d09dac17b10421aaacf7e9f226e0248.html" target="element" >
				  				<area shape="rect" coords="134,379,314,467" href="../elements/id-33c54215fdc3401d92981d5835f0ea18.html"  target="element">
				  				<area shape="rect" coords="94,58,354,250" href="../elements/id-973c9fef26b4418399b9af92e523e64f.html"  target="element">

				          <area shape="rect" coords="10,10,442,538" href="../objects/id-6e942725133544e990f5e5a7dbab871b.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">The Legal view models the most salient public policy development enablers and implementation instruments that shall be considered in order to support legal interoperability.

Narrative: A [Public Policy] is the outcome of a specific [Public Policy Cycle] that aims at addressing the needs of a group of stakeholders. The policy is formulated and implemented with the help of [Public Policy Formulation and Implementation Instruments] such as [Legal Requirements or Constraints] in the form of either [Binding Instruments] or [Non-Binding Instruments], or [Operational Enablers], such as [Financial Resources] or [Implementing Guidelines]. The [Operational Enablers] are influenced by [Public Policy Implementation Mandates] and/or [Public Policy Implementation Approaches]. The [Public Policy Formulation and Implementation Instruments] are included in a [Legislation Catalogue].

These different Architecture Building Blocks define the [Legal content] and each of these Architecture Building Blocks can have any [Interoperability Specification] associated, of which the [Legal Interoperability Specification] is a specialisation.</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td>dct:title</td><td class="convertlinks no-margin" style="white-space:pre-wrap">Legal view</td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6e942725133544e990f5e5a7dbab871b.html" target="element"> Legal Content </a> </td>
									           <td> <a href="../objects/id-6e942725133544e990f5e5a7dbab871b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Council Directive (EU) 2020/285/EC of 28 November 2006 amending Directive 2006/112/EC on the common system of value added tax as regards the special scheme for small enterprises and Regulation (EU) No 904/2010 as regards the administrative cooperation and exchange of information for the purpose of monitoring the correct application of the special scheme for small enterprises </a> </td>
													    <td> <a href="../elements/id-973c9fef26b4418399b9af92e523e64f.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33c54215fdc3401d92981d5835f0ea18.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284a(1) - Council Directive (EU) 2020/285/EC </a> </td>
													    <td> <a href="../elements/id-33c54215fdc3401d92981d5835f0ea18.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5d09dac17b10421aaacf7e9f226e0248.html" target="element"> Digital Business Processes </a> </td>
									           <td> <a href="../objects/id-5d09dac17b10421aaacf7e9f226e0248.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-cd877081d206470c923341400b00ca7b.html" target="element"> Validate the Notification (Syntax and Semantics) </a> </td>
													    <td> <a href="../elements/id-cd877081d206470c923341400b00ca7b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-017b74c9b9914aad8e8b7b3973b80659.html" target="element"> VAT4SME Notification Function </a> </td>
													    <td> <a href="../elements/id-017b74c9b9914aad8e8b7b3973b80659.html" target="element" class="i18n-elementtype-BusinessFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac3c4a4b97114eae83a3b01015164b23.html" target="element"> VAT4SME Notification Digital Public Service </a> </td>
													    <td> <a href="../elements/id-ac3c4a4b97114eae83a3b01015164b23.html" target="element" class="i18n-elementtype-BusinessService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-5f2fe8c5431d41b8a1c5b27d60ce71b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5f2fe8c5431d41b8a1c5b27d60ce71b4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cd877081d206470c923341400b00ca7b.html" target="element"> Validate the Notification (Syntax and Semantics) </a> </td>
																				<td> <a href="../elements/id-33c54215fdc3401d92981d5835f0ea18.html" target="element"> &lt;&lt;eira:BindingInstrument&gt;&gt; Article 284a(1) - Council Directive (EU) 2020/285/EC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5b708fb18691470a9e9cf00d4af3c181.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5b708fb18691470a9e9cf00d4af3c181.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-017b74c9b9914aad8e8b7b3973b80659.html" target="element"> VAT4SME Notification Function </a> </td>
																				<td> <a href="../elements/id-ac3c4a4b97114eae83a3b01015164b23.html" target="element"> VAT4SME Notification Digital Public Service </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a64d48945e8548ccb471b94474b14b93.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a64d48945e8548ccb471b94474b14b93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-017b74c9b9914aad8e8b7b3973b80659.html" target="element"> VAT4SME Notification Function </a> </td>
																				<td> <a href="../elements/id-cd877081d206470c923341400b00ca7b.html" target="element"> Validate the Notification (Syntax and Semantics) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>